@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1400px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 5%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 5%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 5%);

    --primary: hsl(41 74% 53%);
    --primary-foreground: hsl(0 0% 2%);

    --secondary: hsl(0 0% 96%);
    --secondary-foreground: hsl(0 0% 5%);

    --muted: hsl(0 0% 96%);
    --muted-foreground: hsl(0 0% 45%);

    --accent: hsl(0 0% 96%);
    --accent-foreground: hsl(0 0% 5%);

    --destructive: hsl(0 84% 60%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 92%);
    --input: hsl(0 0% 85%);
    --ring: hsl(0 0% 76%);

    --radius: 0.6rem;
  }

  .dark {
    --background: hsl(20 7% 8%);
    --foreground: hsl(60 9% 98%);

    --card: hsl(20 6% 10%);
    --card-foreground: hsl(60 9% 98%);

    --popover: hsl(20 6% 10%);
    --popover-foreground: hsl(60 9% 98%);

    --primary: hsl(30 67% 58%);
    --primary-foreground: hsl(0 9% 2%);

    --secondary: hsl(30 8% 19%);
    --secondary-foreground: hsl(60 9% 98%);

    --muted: hsl(27 7% 29%);
    --muted-foreground: hsl(30 8% 49%);

    --accent: hsl(30 71% 19%);
    --accent-foreground: hsl(60 9% 98%);

    --destructive: hsl(0 84% 60%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(36 8% 12%);
    --input: hsl(30 9% 18%);
    --ring: hsl(30 68% 40%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
